<!-- nav bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand font-weight-bold font-italic" href="#"><u>MOM's Magic</u></a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</nav>
<!-- nav bar ends  -->


<!-- crousel -->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active item">
            <div class="row">
                <div class="col " style="background-color: black; height: 500px;"></div>
                <div class="col"> <img class="w-100" src="assets/download.jpg" alt="First slide"></div>
                <div class="col" style="background-color: black;"></div>
            </div>
        </div>


        <div class="carousel-item  item">
            <div class="row">
                <div class="col " style="background-color: black; height: 500px;"></div>
                <div class="col"> <img class="w-100" src="assets/Image2.PNG" alt="Second slide"></div>
                <div class="col" style="background-color: black;"></div>
            </div>
        </div>

        <div class="carousel-item  item">
            <div class="row">
                <div class="col " style="background-color: black; height: 500px;"></div>
                <div class="col"> <img class="w-100" src="assets/Image3.PNG" alt="Second slide"></div>
                <div class="col" style="background-color: black;"></div>
            </div>
        </div>





    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- crousel ends -->




<div class="container-fluid mt-5">
    <h2 class="font-weight-bold font-italic"><u>About Us</u></h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, provident consequuntur? Delectus iure
        doloremque hic, consectetur recusandae magni corporis? Aliquam eaque consectetur quibusdam laboriosam, odio
        beatae accusantium corporis incidunt suscipit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
        aliquam laborum maiores minus molestias excepturi, architecto voluptate, nostrum, ratione veniam voluptas ipsa a
        beatae distinctio? Ut animi laborum voluptatem officia?Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ea doloribus sequi magnam veritatis reprehenderit voluptates quos totam in fugiat odio eum dignissimos pariatur
        eos deleniti voluptatem, repudiandae consequuntur ut officia.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, est omnis! Magni cum voluptas nulla esse
        distinctio eveniet eaque, sit, earum magnam assumenda dolorum vel! Dolore neque voluptatem voluptatum
        accusantium?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique minima quod laudantium optio
        saepe suscipit cupiditate modi illo iusto, mollitia quam, autem tenetur! Voluptate pariatur natus assumenda
        sequi harum tempora?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus eius voluptates
        voluptate. Ea sapiente sunt cupiditate repellat vero optio! Dignissimos, reprehenderit? Ipsum facilis
        consequuntur at eos libero nihil quam laboriosam?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt aspernatur quisquam modi culpa ex quod
        dolorum autem reiciendis earum magni enim odio provident, porro eligendi ipsa maxime itaque ut consectetur!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi ea sequi, aliquid odio perspiciatis repudiandae
        fugiat voluptatibus quam ratione optio culpa odit numquam hic ut fuga sit! Blanditiis, incidunt a?
    </p>

    <h2 class="font-weight-bold font-italic"><u>Our Qualities</u></h2>
    <div class="row  ml-3 bg-light ">
        <div class="col-4 mb-4 mt-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Freshly Prepared</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>


        </div>
        <div class="col-4 mb-4 mt-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Homely Feeling</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
        <div class="col-4 mb-4 mt-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Hygenic</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tasty</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Healthy</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Cost effective</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
            </div>
        </div>
    </div>

</div>
<br><br><br>
<br><br>


<div class="container-fluid">
    <div class="container">

        <div class="row ml-5 mr-5 ">
            <div class="col-6 mb-2">

                <div class="card">
                    <div class="container">
                        <div class="row mt-2 mb-2">

                            <div class="col-6">
                                <img class="card-img-top" src="assets/Capture.PNG" alt="Card image cap"
                                    style="height: 200px;">
                            </div>
                            <div class="col-6">
                                <div class="card-body">
                                    <h3>Boondi ka Raita</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>


            <div class="col-6 mb-2">

                <div class="card">
                    <div class="container">
                        <div class="row mt-2 mb-2">

                            <div class="col-6">
                                <img class="card-img-top" src="assets/Image3.PNG" alt="Card image cap"
                                    style="height: 200px;">
                            </div>
                            <div class="col-6">
                                <div class="card-body">
                                    <h3>Kur-Kuri Bindi</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>

            <div class="col-6">

                <div class="card">
                    <div class="container">
                        <div class="row mt-2 mb-2">

                            <div class="col-6">
                                <img class="card-img-top" src="assets/Upma.PNG" alt="Card image cap"
                                    style="height: 200px;">
                            </div>
                            <div class="col-6">
                                <div class="card-body">
                                    <h3>Upma</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>


            <div class="col-6">

                <div class="card">
                    <div class="container">
                        <div class="row mt-2 mb-2">

                            <div class="col-6">
                                <img class="card-img-top" src="assets/Capture.PNG" alt="Card image cap"
                                    style="height: 200px;">
                            </div>
                            <div class="col-6">
                                <div class="card-body">
                                    <h3>Bondi Ka Raita</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's content.</p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>



        </div>
    </div>
</div>
<br><br>



<!-- Footer -->


<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row ml-3">
  
        <!-- Grid column -->
        <div class="col-md-6   mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Contact</h5>
          <p>Mobile : 9899320302.</p>
          <p>Email  : bhatiagiriraj007@gmail.com</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Availability</h5>
  
          <ul class="list-unstyled">
            <li>
              <p >Break Fast</p>
            </li>
            <li>
              <p >Lunch</p>
            </li>
            <li>
              <p>Dinner</p>
            </li>
            <li>
              <p >Evening Snacks</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Timming</h5>
  
          <ul class="list-unstyled">
            <li>
              <p >8-11 Am</p>
            </li>
            <li>
              <p >2-3 PM</p>
            </li>
            <li>
              <p >9-11 PM</p>
            </li>
            <li>
              <p >6-7 PM</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MOM's Magic</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->